@tailwind base;

@tailwind components;

@tailwind utilities;

body {
  @apply font-sans-serif text-base;
}


@keyframes -slide-in-y { 
  from { 
    opacity: 0;
    transform: translate3d(0, 0.7rem, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}